body {
  background-color: rgb(30, 30, 30);
} 

.work_container {
  width: 98vw;     
  height: 93vh;       
  display: flex;
  justify-content: space-around;
}

.tab_subcontainers{
  margin-top: 1em;
  height: 97%;
  background-color: #2b2b2b;
  border: 0.05em solid #656565;
  border-radius: 0.5em;
}

/*                                          TAB HOME */
#tab_home{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 99%;
}

#title_home{
  margin-top: 3%;
  text-align: center;
  color: #ffffff;
  font-weight: bold;
  font-size: 3.5rem;
}

.pestanas{
  font-weight: bold;
  font-size: 1.75rem;
}

.textos_pestanas{
  font-weight: normal;
  font-size: 1.5rem;
}

.home-content {
  background-color: #2b2b2b;
  padding: 2%;
  color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 5px;
}





/*                                          TAB 2 */
#tab2_left{
  width: 20%;
}

#tab2_right{
  width: 78%;
  text-align: center;
}

#title_right_tab2{
  margin-top: 0.5rem;
  display: inline-block;
  width: 100%;
  height: 10%;
  color: #ffffff;
  font-weight: bold;
  font-size: 1.5rem;
}

#grafico_right_tab2{
  width: 100%;
  height: 89%;
}

#container_graficos_tab2{
  width: 100%;
  height: 100%;
}

#container_control_slides{
  width: 100%;
  display: flex;
  justify-content: space-around;
  color: #ffffff;
  font-weight: bold;
  font-size: 1.5rem;
}

.parrafo_left{
  margin-left: 2%;
  margin-right: 2%;
  color: #ffffff;
  /* font-weight: bold; */
}


/*                                          TAB 3 */
#tab3_right{
  /* margin-top: 1em; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 99%;
  height: 97%;
  text-align: center;
}

#zona_kpi_tab3{
  height: 18%;
  display: flex;
  justify-content: space-between;
}

#drop_tab3{
  width: 24%;
  height: 100%;
}


#kpi_1{
  width: 24%;
  height: 100%;
}

#kpi_2{
  width: 24%;
  height: 100%;
}

#kpi_3{
  width: 24%;
  height: 100%;
}

#zona_grafica_tab3{
  height: 80%;
  display: flex;
  justify-content:space-between;
}

#zona_barras_tab3{
  width: 60%;
  height: 100%;
}

#barras_tab3{
  width: 100%;
  height: 100%;
}

#zona_pies_tab3{
  width: 39%;
  height: 100%;
}

#pies_tab3{
  width: 100%;
  height: 100%;
}

#grafico_rangos_tab3{
  width: 60%;
  height: 60%;
}



#label_periodo{
  margin-top: 4%;
  text-align: left;
  font-size: 1.3rem;
}

#grafico_barras_tab3{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.tarjetas{
  color: #ffffff;
  font-weight: bold;
  font-size: 2.5rem;
}


/*                                          TAB 4 */
#tab4_left{
  width: 20%;
}

#tab4_center{
  width: 37%;
}

#tab4_right{
  width: 40%;
}

.one_drop_tab4{
  width: 90%;
  color: #ffffff;
  font-weight: bold;
  margin-left: 5%;
}

#tab4_rangos_response{
  width: 100%;
  text-align: center;
  color: #ffffff;
  font-weight: bold
}

#texto_tab4{
  display: inline-block;
  color: #ffffff;
  font-weight: bold

}

#tab4_texto_resultados{
  width: 100%;
  text-align: center;
}

#contenedor_pies_tab4{
  margin-top: 2%;
  text-align: center;
}


/*                                      LETRAS DROPS */

.title_left{
  margin-top: 3%;
  text-align: center;
  color: #ffffff;
  font-weight: bold;
  font-size: 1.5rem;
}

.titles{
  margin-top: 3%;
  text-align: center;
  /* color: #d2d0ce; */
  color: #ffffff;
  font-weight: bold;
  font-size: 1.5rem;
}

.tab_left{
  height: 100%;
  width: 100%;
}

.btns{
  display: inline-block;
  /* background-color: #70cbff; */
  background-color: #ffffff;
  width: 30%;
  height: 2rem;
  border-radius: 0.3rem;
}

.btn-container{
  width: 100%;
  text-align: center;
}
